In [6]:
!ls

sample_data

In [7]:
%timeit [i**2 for i in range(1000)]

86.7 µs ± 24.3 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [10]:
%%timeit
l= []
for n in range(2000):
  l.append(n)

67.5 µs ± 3.76 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [5]:
base_salary = 80000
bonus_rate = 0.05
total_salary = round(base_salary*(1 + bonus_rate),0)
print(total_salary)

84000.0

In [20]:
id(base_salary)

140448085237328

In [6]:
type(base_salary)

int

In [1]:
class JobPost:
  def __init__(self, title, location, salary):
    self.title = title
    self.location = location
    self.salary = salary

  def print_job_description(self):
    print(f"{'TITLE'.ljust(12,'.')} {self.title.title()}")
    print(f"{'LOCATION'.ljust(12,'.')} {self.location.title()}")
    print(f"{'SALARY'.ljust(12,'.')} ${self.salary:,}")

In [2]:
job = JobPost("system analyst", "New York", 60000)

In [3]:
job.print_job_description()

TITLE....... System Analyst
LOCATION.... New York
SALARY...... $60,000

In [10]:
job_title="System Data Analyst"
remove_word="Data"
final_job_title=job_title.replace(remove_word,"")
final_job_title=' '.join(final_job_title.split())
print(final_job_title)

System Analyst

In [19]:
job_title2 = str(job_title.capitalize())
print(id(job_title), id(job_title2))

133377610024720 133377521631760

In [22]:
str.lower(job_title)

'system data analyst'

In [34]:
job_title="System  Data \t\tAnalyst"
print(job_title)
words = job_title.split()
new_job_title = " ".join(words)
print(new_job_title)
words = new_job_title.split(sep=" ",maxsplit=1)
print(words)

System  Data 		Analyst
System Data Analyst
['System', 'Data Analyst']

In [41]:
job_title = str.__add__("Data"," Analyst")
print(job_title)
job_title2="Data".__add__(" Analyst")
print(job_title2)

Data Analyst
Data Analyst

In [42]:
word = "data "
print(word * 3)

data data data

In [44]:
print(len(word))
print(str.__len__(word))

5
5

In [45]:
role = 'Data Analyst'
skill = 'Python'
print('Role: ' + role)

Role: Data Analyst

In [51]:
print("Role(args): {0}".format(role))
print("Role(format-kwargs): {role}".format(role=role))
print("Role(format-kwargs): {role}. Skills required: {skill}".format(role=role, skill=skill))
print(f"Role(f-string): {role}. Skills required: {skill}")
message = "Role(percent-s): %s. Skills required: %s." % (role, skill)
print(message)

Role(args): Data Analyst
Role(format-kwargs): Data Analyst
Role(format-kwargs): Data Analyst. Skills required: Python
Role(f-string): Data Analyst. Skills required: Python
Role(percent-s): Data Analyst. Skills required: Python.

In [53]:
years_experience = "0123456789"
print(", ".join(years_experience))

0, 1, 2, 3, 4, 5, 6, 7, 8, 9

In [54]:
skills = ['SQL', 'Python', 'Excel']
print(f"Skills required: {', '.join(skills)}.")

Skills required: SQL, Python, Excel.

In [57]:
#int.__sub__(5,3)
ten=10
ten.__sub__(3)

7

In [58]:
applicant_1 = "Kelly"
applicant_2 = "Luke"
applicant_1, applicant_2 = applicant_2, applicant_1
print(applicant_1, applicant_2)

Luke Kelly

In [63]:
job_skill = 'Python'
applicant_skill = 'SQL'
years_experience = 10

if job_skill == applicant_skill:
  print("Skills match")
elif years_experience >= 5:
  print("Potential match")
else:
  print("Skills do not match")

Potential match

In [80]:
job_skills = ['sql','tableau', 'excel']

In [81]:
job_skills.append('python')

In [88]:
print(job_skills)

['sql', 'excel', 'tableau', 'python']

In [83]:
job_skills.pop(1)

'tableau'

In [77]:
job_skills.remove('excel')

In [85]:
job_skills.insert(2,'tableau')

In [93]:
luke_skills = ['python','bigquery','r']
kelly_skills = ['python','sql','looker']
all_skills = luke_skills + kelly_skills
print(all_skills)

['python', 'bigquery', 'r', 'python', 'sql', 'looker']

In [97]:
print(all_skills[-1])
skill1, skill2, *rest = all_skills
print(skill1, skill2)
print(rest)

looker
python bigquery
['r', 'python', 'sql', 'looker']

In [95]:
all_distinct_skills = set(luke_skills) | set(kelly_skills)
print(list(all_distinct_skills))

['python', 'bigquery', 'r', 'sql', 'looker']

In [100]:
skills_tuple=set(all_distinct_skills)
skill1, skill2, *rest = skills_tuple
print(skills_tuple)
print(skill1, skill2)
print(rest)

{'python', 'bigquery', 'r', 'sql', 'looker'}
python bigquery
['r', 'sql', 'looker']

In [105]:
job_type_skills = {
    "database": "postgresql",
    "language": "python",
    "cloud": "aws",
    "library": "pandas"
}
job_type_skills

{'database': 'postgresql',
 'language': 'python',
 'cloud': 'aws',
 'library': 'pandas'}

In [107]:
print(job_type_skills.get("database"))
print(job_type_skills["cloud"])

postgresql
aws

In [110]:
print(job_type_skills.get("source_control"))

None

In [112]:
for key in job_type_skills.keys():
  print(f"{key}={job_type_skills[key]}")

database=postgresql
language=python
cloud=aws
library=pandas

In [119]:
print(job_type_skills)

{'database': 'postgresql', 'language': 'python', 'library': 'pandas', 'source_control': 'gitlab'}

In [114]:
cloud=job_type_skills.pop("cloud")
print(cloud)

aws

In [118]:
job_type_skills.update({"source_control": "gitlab"})