In [2]:
job_skills= {"python", "sql", "statistics", "tableau"}
job_skills

{'python', 'sql', 'statistics', 'tableau'}

In [3]:
skill_List = ['python','sql','statistics','tableau','python','sql','statistics','tableau']

In [5]:
skill_list_distinct = list(set(skill_List))
skill_list_distinct

['sql', 'statistics', 'tableau', 'python']

In [6]:
lukes_skills = ("python", "sql", "statistics", "tableau")

In [7]:
print(lukes_skills[0])
print(lukes_skills[:2])

python
('python', 'sql')

In [9]:
r = range(2,5)
for item in r:
  print(item)

2
3
4

In [13]:
"a" in "abecadÅ‚o"

True

In [14]:
type("abc") is str

True

In [16]:
str1="abc"
str2=str1
print(id(str1),id(str2))
str1 is str2

9838528 9838528

True

In [21]:
numbers = [0,1,2,3,4,5]
odd_numbers = []
for number in numbers:
  if number % 2 == 1:
    odd_numbers.append(number)
odd_numbers

[1, 3, 5]

In [22]:
list(filter(lambda number: number % 2 ==1,numbers))

[1, 3, 5]

In [36]:
years_experience = {
  'Luke':3,
  'Kelly':6,
  'Ken':4,
  'Alex':3,
  "Mary": 7
 }

In [38]:
for (person,experience) in years_experience.items():
  if experience > 5:
    print(f"{person} has {experience} years of experience")

Kelly has 6 years of experience
Mary has 7 years of experience

In [35]:
count = 1
while count < 5:
  print("Data Nerd")
  count += 1

Data Nerd
Data Nerd
Data Nerd
Data Nerd

In [37]:
for (person,experience) in years_experience.items():
  if experience > 5:
    print(f"{person} has {experience} years of experience")
    break

Kelly has 6 years of experience

In [40]:
list(years_experience.items())

[('Luke', 3), ('Kelly', 6), ('Ken', 4), ('Alex', 3), ('Mary', 7)]

In [46]:
years = 0
index = 0
applicants = list(years_experience.items())
required_experience = 10

while years < required_experience and index < len(applicants):
  (person,experience) = applicants[index]
  years = experience if experience > years else years
  index += 1

if years >= required_experience:
  print(f"{person} has {experience} years of experience")
else:
  print(f"There are no applicants with at least {required_experience} years of experience")

There are no applicants with at least 10 years of experience

In [55]:
numbers = tuple(n**2 for n in range(1,11) if n % 2 == 0)
numbers

(4, 16, 36, 64, 100)

In [52]:
numbers2 = [] #list(range(1,11))
for n in range(1,11):
    numbers2.append(n*2)
numbers2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [57]:
job_list=["C# Programmer","Python Programmer", "SQL Programmer","Senior Data Analyst"]
analyst_jobs=[job for job in job_list if "Data Analyst" in job]
analyst_jobs

['Senior Data Analyst']

In [59]:
data_salaries = [95_000,100_000, 85_000, 97_000, 140_000]
print(min(data_salaries))
print(max(data_salaries))
print(sum(data_salaries))

85000
140000
517000

In [79]:
def calculate_salary(base_salary, bonus_rate=0.1):
  return round(base_salary * (1 + bonus_rate),2)

In [80]:
total_salary = calculate_salary(100_000,0.1)
total_salary

110000.0

In [81]:
mul_two = lambda x: x*2

In [84]:
(lambda x: x**2+2)(3)

11

In [82]:
print(mul_two(3))

6

In [86]:
salary_list = [95_000,100_000, 85_000, 97_000, 140_000]
total_salary_list = [ (lambda s: round(s * 1.1,2))(salary) for salary in salary_list]
print(total_salary_list )

[104500.0, 110000.0, 93500.0, 106700.0, 154000.0]

In [87]:
jobs_data = [
    {'job_title': 'Data Scientist',  'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst',  'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statistics'], 'remote': False}
]

In [91]:
remote_jobs = filter( lambda job: job['remote'] == True and 'python' in [skill.lower() for skill in job['job_skills']], jobs_data)
list(remote_jobs)

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]

In [3]:
import job_analyzer

print(job_analyzer.calculate_salary(100_000,0.125))

112500.0