In [12]:
import random
salary_list = [random.randint(50_000,150_000) for _ in range(10_000_000)]

In [13]:
# verify
print(salary_list[:10])

[93894, 143694, 61146, 51860, 136828, 102163, 67690, 121348, 118238, 120046]

In [ ]:
import statistics

In [16]:
%%timeit
statistics.median(salary_list)

5.41 s ± 325 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [10]:
import numpy as np

In [17]:
%%timeit
np.median(salary_list)

703 ms ± 136 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [18]:
np_array = np.array([1,2,3,4])

In [19]:
print(np.mean(np_array))
print(np_array.mean())

2.5
2.5

In [25]:
job_title= np.array(['Data Analyst','Data Scientist','Data Engineer','Machine Learning Enginner', 'AI Engineer'])
base_salaries = np.array([60_000,80_000,75_000,90_000, np.nan])
bonus_rates = np.array([0.05,0.1,0.08,0.12, np.nan])

In [26]:
total_salaries = base_salaries + (base_salaries * bonus_rates)
print(total_salaries.shape)
print(total_salaries)

(5,)
[ 63000.  88000.  81000. 100800.     nan]

In [31]:
np.nanmean(total_salaries)

nan

In [30]:
type(np.nan)

float